.page {
    margin: 0;
}

.heading {
    height: 74px;
    background: #ff2456;  /*НА ВРЕМЯ!!!!!!*/
}

.heading__logo {
    font: 400 26px "Lora", serif;
    color: #FFFFFF;  
}

.heading-nav {
    height: 40px;
}

.heading-nav__link {
    font: 400 12px/1.67 "Oxygen", sans-serif;
    text-decoration: 0;
    letter-spacing: 0.6px;
    color: #FFFFFF;
}

.top-block__title {
    font: 400 50px/1.02 "Lora", serif;
    letter-spacing: 2px; 
    margin: 0;
    color: #FFFFFF;
}

.top-block__subtitle {
    font: 400 17px/1.18 "Oxygen", sans-serif;
    color: rgba(255, 255, 255, 0.63);
}

.basement {
    height: 89px;
    background: url(../images/footer_image.jpg) no-repeat;
    background-size: cover;
}

.basement__shading {
    height: 89px;
    background: rgba(35, 47, 56, 0.6);;
}

.basement__logo {
    font: 400 26px "Lora", serif; 
    color: #FFFFFF;
}

.basement-nav {
    height: 32px;
}

.basement-nav__link {
    font: 400 11px/2.36 "Oxygen", sans-serif;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: 0;
    letter-spacing: 0.6px;
}




