.top-block {
    height: 500px;
    background: url(../images/top_block_background.jpg) no-repeat;
    background-size: cover;
}

.top-block__button {
    height: 44px;
    width: 167px;
    background: #DD783F;
    border-radius: 3px;
    border: 0;
    font: 400 13px/1.54 "Oxygen", sans-serif;
    color: #FFFFFF;
}

.tag-block {
    height: 65px;
    background: #FFFFFF;
}

.tag-block__link {
    font: 400 14px/1.43 "Oxygen", sans-serif;
    color: #768088;
    text-decoration: 0;
}

.main {
    background: #F7F7F7;
}

.featured-posts__title {
    font: 400 20px/1.35 "Oxygen", sans-serif;
    padding: 60px 0 16px 0;
    margin: 0;
    border-bottom: 1px solid #DEDEDE;
    width: 188px;
}

.featured-post {
    height: 280px;
    width: 460px;
    border-radius: 3px;
    background-size: cover;
    margin: 23px 0 0 0; 
}

.featured-post_background_the-road-ahead {
    background: url(../images/the_road_ahead_index.jpg);
}

.featured-post_background_from-top-down {
    background: url(../images/from_top_down.jpg);
}

.featured-post__title {
    font: 400 27px/1.11 "Lora", serif;
    color: #FFFFFF;
    margin: 0;
}

.featured-post__subtitle {
    font: 400 14px/1.79 "Oxygen", sans-serif;
    color: rgba(255, 255, 255, 0.7);
}

.featured-post__author {
  font: 400 12px/2.92 "Oxygen", sans-serif;
  color: rgba(255, 255, 255, 0.7);
}

.featured-post__date {
    font: 400 12px/2.92 "Oxygen", sans-serif;
    color: rgba(255, 255, 255, 0.7);
}

.featured-post__tag {
    height: 13px;
    width: 69px;
    background: #DD783F;
    padding: 6px 9px 7px;
}

.featured-post__tag-text {
    font: 400 12px/1.08 "Oxygen", sans-serif;
    color: #FFFFFF;
}

.most-recent-posts__title {
  font: 400 20px/1.35 "Oxygen", sans-serif;
  padding: 60px 0 16px 0;
  margin: 0;
  border-bottom: 1px solid #DEDEDE;
  width: 188px;
}

.most-recent-post__title {
    font: 400 20px/1.35 "Oxygen", sans-serif;
}

.most-recent-post {
    height: 291px;
    width: 296px;
}

.most-recent-post__image {
    height: 150px;
    width: 296px;
}

.most-recent-post__title {
    font: 400 16px/1.31 "Lora", serif;
    color: #101315;
    margin: 0;
}

.most-recent-post__subtitle {
    font: 400 13px/1.46 "Oxygen", sans-serif;
    color: #7A7A7A;  
}

.most-recent-post__author {
    font: 400 11px/3.18 "Oxygen", sans-serif;
    color: #999999;
}

.most-recent-post__date {
  font: 400 11px/3.18 "Oxygen", sans-serif;
  color: #999999;
}

.most-recent-post__info {
    border-top: 1px solid #DEDEDE;
    width: 100%;
}

.most-recent-post__avatar {
    border-radius: 50%;
}

.featured-post__avatar {
    border-radius: 50%;
}