.top-block {
    height: 360px;
}

.heading-nav__link_color_black {
    color: #2E2E2E;
}

.heading__logo_color_black {
    color: #2E2E2E;
}

.top-block__title_color_black {
    color: #2E2E2E;
}

.top-block__subtitle_color_black {
    color: rgba(46, 46, 46, 0.63);
}

.image-the-road-ahead {
    height: 534px;
    width: 100%;
    border-radius: 3px;   
}

.article-block {
    padding: 140px 240px 135px;
    background: #F5F5F5;
}

.article-block__paragraph {
    font: 400 24px/1.46 "Oxygen", sans-serif;
    color: #101315;
}