.top-block {
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading-nav__link_color_black {
    color: #2E2E2E;
}

.heading__logo_color_black {
    color: #2E2E2E;
}

.top-block__title_color_black {
    color: #2E2E2E;
}

.top-block__subtitle_color_black {
    color: rgba(46, 46, 46, 0.63);
}

.article-block__image-posts {
    max-height: 534px;
    width: 100%;
    border-radius: 3px;
}

.article-block {
    display: flex;
    flex-flow: row wrap;
}

.article-block__paragraph {
    box-sizing: border-box;
    width: 100%;
    background: #F7F7F7;
    font: 400 24px/1.46 "Oxygen", sans-serif;
    color: #101315;
    margin: 0;
    padding: 140px 17% 135px;
    white-space: pre-line;
    text-align: justify;;
}

